.standard-input {
    border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 0px;
    outline-width: 0;
}

input:focus {
    outline:none !important;
}

.screen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction: column;

}

.scroll::-webkit-scrollbar {
    width: 10px;
}
   
.scroll::-webkit-scrollbar-thumb {
background: #666;
border-radius: 20px;
}
  
.scroll::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.title-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.input-container {
    margin-bottom: 30px;
}

.participants-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;


}

.autocompletes {
    width: 50%;
}

.lists {
    width: 50%;
}

.doctors-list {
    margin-top: 30px;

}

.nurses-list {
    overflow: auto;
    height: 260px;
    text-align: left;
}

.doctors-list {
    overflow: auto;
    height: 260px;
    text-align: left;
}

.auto-container {
    margin-bottom: 30px;
}

.marked {
    color: rgb(100, 100, 255);
}

.middle-container {
    height: 100%;
}

.warning {
    color: crimson;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.right-m {
    margin-right: 20px;
}

.middle-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .full {
    height: 100%;
    display: flex;
    justify-content: center;
}

.text-box {
    overflow-y: auto;
    max-height: 200px;
    text-align: start;
    word-break: break-all;
}

.end-button {
    margin-top: 20px;
}

.small-top-margin {
    margin-top: 20px;
}